<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.two.OrderOtherMapper">

    <resultMap type="Order" id="order">
        <result property="orderId" column="ORDER_ID"/>
        <result property="venderId" column="VENDER_ID"/>
        <result property="supplierId" column="SUPPLIER_ID"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="orderType" column="ORDER_TYPE"/>
        <result property="modified" column="MODIFIED"/>
        <result property="created" column="CREATED"/>
    </resultMap>

    <!--  select singleton order  -->
    <select id="getOrderSingleton" parameterType="Long" resultMap="order">
        SELECT ORDER_ID,VENDER_ID,SUPPLIER_ID,ORDER_STATUS,ORDER_TYPE FROM order_supplier WHERE ORDER_ID=#{orderId}
    </select>

</mapper>